
@{
    ViewData["Title"] = "EmailConfirmation";
}

    <h1 class="col-12 text-center"> Email Confirmation</h1>
<div class="row">
    <div class="col-12 border p-3 mt-3 align-middle">
        <p>
            Please check your email to confirm your account.
        </p>
    </div>
</div>