@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

    <h1 class="col-12 text-center">@ViewData["Title"]</h1>
<h4 class="text-center">Enter your email.</h4>
<hr />
<div class="row col-auto">
    <div class="offset-4 col-md-4 text-center">
        <form method="post">
            <input type="hidden" asp-for="@Model.ReturnUrl" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.Email" class="form-control" placeholder="Email.." />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


