@model UserPostsWithPostToAdd

@{
    ViewData["Title"] = "Profile";
}

@{
    await Html.RenderPartialAsync("../Shared/_UserSection", Model.BasicUser, new ViewDataDictionary(ViewData) { });
}

<div class="col-12 border pt-3 bg-white">
    <form asp-controller="Post" asp-action="AddPost" method="post" class="form-group col-12" enctype="multipart/form-data">
        <div class="input-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <textarea class="form-control bg-light" type="text" asp-for="@Model.NewPost.Text" rows="1" style="height:3em;" id="text"></textarea>

            <span asp-validation-for="NewPost" class="text-danger"></span>

            <div class="btn-group">
                <div class="image-upload input-group-append ">
                    <label for="file-input">
                        <i class="far fa-images fa-2x mt-2 mx-1"></i>

                    </label>
                    <input asp-for="@Model.NewPost.Picture" id="file-input" />
                </div>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="col-12  p-3 mt-3 bg-white">
    <form>
        @{
            int postCounter = 0;
            foreach (BasicUserWithPost userWithPost in Model.UserWithPosts)
            {
                await Html.RenderPartialAsync("../Shared/_PostSection", userWithPost, new ViewDataDictionary(ViewData) {
                        {"postCounter", postCounter }
                    });
                postCounter++;
            }
        }
    </form>
</div>

<script src="~/js/resizeTextarea.js"></script>