@model List<BasicUserData>
@{
    ViewData["Title"] = "Find Friends";
}

<h3 class="text-center text-white">Find Friends</h3>

<div class="bg-light col-12 p-2 mt-3">
    <form>
        <div class="form-group col-12 m-3">
            <div class="input-group col-12">
                <div class="input-group">
                    <input oninput="updateResult(this.value)" type="search" placeholder="Search..." class="col-12 bg-light" />
                    <div class="container">
                        <ul class="list-group result mt-2"></ul>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/js/friendsSearch.js"></script>