@model List<BasicUserData>
@{
    ViewData["Title"] = "Friends";
}

<h3 class="text-center text-white">Friends</h3>

<div class="col-12 border p-3 mt-3 bg-white ">
    <form method="post">

        @foreach (var user in Model)
        {           
            await Html.RenderPartialAsync("../Shared/_UserAsFriend", user, new ViewDataDictionary(ViewData) { });
        }
    </form>
</div>