@model UserWithPost

@{
    ViewData["Title"] = "Profile";
}

<h3 class="text-center text-white">@Model.user.FirstName @Model.user.LastName</h3>
*<div class="col-12 border p-3 mt-3 bg-white">
    <div class="col-12 p-3 mt-3 bg-light">
        <form>
            @{
                int postCounter = 0;
                foreach (Post post in Model.Posts)
                {
                    await Html.RenderPartialAsync("../Shared/_PostSection", post, new ViewDataDictionary(ViewData) {
                        {"postCounter", postCounter }
                    });
                    postCounter++;
                }
            }
       </form>
    </div>
</div>