@model UserPostsWithPostToAdd

@{
    ViewData["Title"] = "Profile";
}

@if (Model.UserWithPosts != null)
{
    <h3 class="text-center text-white">@Model.UserWithPosts[0].User.FirstName @Model.UserWithPosts[0].User.LastName</h3>
}

*<div class="col-12 border p-3 mt-3 bg-white">
    <div class="col-12 p-3 mt-3 bg-light">
        <form>
            @{
                int postCounter = 0;
                foreach (BasicUserWithPost userWithPost in Model.UserWithPosts)
                {
                    await Html.RenderPartialAsync("../Shared/_PostSection", userWithPost, new ViewDataDictionary(ViewData) {
                        {"postCounter", postCounter }
                    });
                    postCounter++;
                }
            }
        </form>
    </div>
</div>