@model Post

<h4>Edit Post</h4>
<hr />

<div class="col-12 border p-3 mt-3">
        <form asp-controller="Post" asp-action="EditPost" method="post" asp-route-id=""class="form-group col-12">
            <div class="input-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <textarea class="form-control" type="text" asp-for="Text" rows="1" style="height:3em;" id="text"></textarea>

                <span asp-validation-for="Text" class="text-danger"></span>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i></button>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="WhenAdded" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="ImagePath" />
            <input type="hidden" asp-for="ImageFullPath" />
        </form>

</div>
<div>
    <a asp-controller="Profile" asp-action="Index">Back to profile</a>
</div>

<script src="~/js/resizeTextarea.js"></script>