@model Post

@{
}


<h4>Edit Post</h4>
<hr />

<div class="col-12 border p-3 mt-3">
        <form asp-controller="Post" asp-action="EditPost" method="post" asp-route-id=""class="form-group col-12">
            <div class="input-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <textarea class="form-control" type="text" asp-for="Text" rows="1" style="height:3em;" id="text"></textarea>

                <span asp-validation-for="Text" class="text-danger"></span>

                <div class="input-group-append">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i></button>
                </div>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="WhenAdded" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="ImagePath" />
            <input type="hidden" asp-for="ImageFullPath" />
        </form>

</div>
<div>
    <a asp-controller="Profile" asp-action="Index">Back to profile</a>
</div>


<script>
    var observe;
    if (window.attachEvent) {
        observe = function (element, event, handler) {
            element.attachEvent('on' + event, handler);
        };
    }
    else {
        observe = function (element, event, handler) {
            element.addEventListener(event, handler, false);
        };
    }
    function init() {
        var text = document.getElementById('text');
        function resize() {
            text.style.height = 'auto';
            text.style.height = text.scrollHeight + 'px';
        }
        /* 0-timeout to get the already changed text */
        function delayedResize() {
            window.setTimeout(resize, 0);
        }
        observe(text, 'change', resize);
        observe(text, 'cut', delayedResize);
        observe(text, 'paste', delayedResize);
        observe(text, 'drop', delayedResize);
        observe(text, 'keydown', delayedResize);

        text.focus();
        text.select();
        resize();
    }
</script>

